
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --cor-primaria:#000000;
    --cor-secundaria:#f6f6f6;
    --cor-terciaria:#22d4fd;
    --cor-hover:#272727;

    --font-primaria:"Krona One", sans-serif;
    --font-secundaria:"Montserrat", sans-serif;
}

.cabecalho_menu {

    display: flex;
    gap: 80px;
}

.cabecalho_menu_link{
    font-family:var(--font-secundaria);
    font-size: 26px;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}    
.cabecalho_menu_link:hover {
    background-color:var(--cor-hover);
    transform: scale(1.05);
}


*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color:var(--cor-primaria);
    color: var(--cor-secundaria)
}

.apresentacao_titulo_curriculo{
    font-family:var(--font-primaria);
    font-size: 50px;
    padding: 20px;

}


.apresentacao_curriculo {
    font-family: var(--font-secundaria);
    font-size: 26px;
}
.apresentacao_conteudo {
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.paragrafos_cursos{
    font-family: var(--font-secundaria);
    font-size: 26px;
}
strong{
    color: #22d4fd;
}





















.rodape {
    padding: 24px;
    color:var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family:var(--font-secundaria);
    font-size: 24px;
    font-weight: 400px; }